---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import SocialMediaLine from '../components/SocialMediaLine.astro';
import EmailLine from '../components/EmailLine.astro';
import { SITE_TITLE, SITE_DESCRIPTION, EMAIL } from '../consts';
import "../styles/about.css";
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section id="about_section">
				<h5 class="delay_order1"><span class="wave-emoji">👋🏼</span> Hi, there! I'm <b>Lucas Da Cruz</b>.</h5> 
				<p class="delay_order2">
					I am a Software Engineer with 4+ years of experience specializing in backend development, API design, and distributed systems. 
					My main focus is on building scalable and efficient applications, and I enjoy working on frontend and DevOps tasks as well as 
					exploring technologies like AI, robotics, embedded systems, and cloud computing.
				</p>
				<p class="delay_order3">
					Currently, I am a Software Engineer at <a class="underline" href="https://www.ecolab.com/" target="_blank">Ecolab</a>, 
					where I have developed .NET distributed IoT systems to process data from thousands of devices, enabling real-time monitoring 
					and automated notifications. I also led the delivery of an Executive Business Review web application used by 300+ global account managers, 
					standardizing reporting and improving customer engagement. Additionally, I have built Python, Go, and .NET tools to automate testing, 
					documentation, and analytics, streamlining engineering workflows.
				</p>
				<p class="delay_order4">
					In addition to my full-time role, I work as a freelance automation engineer for startups and small businesses, helping them 
					automate processes and workflows. For example, at <a class="underline" href="https://www.torchlight.care/" target="_blank">Torchlight</a>, 
					I migrated legacy Selenium test suites to Playwright, significantly improving reliability and runtime. I also developed multithreaded 
					Python tools to scale audits and automated data pipelines to generate dynamic reports, reducing reporting time from days to hours.
				</p>
				<p class="delay_order5">
					During my free time, I enjoy learning new technologies, <a href="/library">reading books</a>, blogging, cooking, and spending time
					with my wife and three kids.
				</p>
			</section>
		</main>

		<div class="sticky-container">
			<SocialMediaLine />
			<EmailLine email={EMAIL} />
		</div>	
		<Footer />	
	</body>
</html>
