---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import "../styles/header.css";
---

<header>
	<nav>
		<h2 id="header_title"><a class="font-bold" href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink id="header_about" href="/">About</HeaderLink>
			<HeaderLink id="header_blog" href="/blog">Blog</HeaderLink>
			<HeaderLink id="header_resume" href="/Lucas_Da_Cruz_Resume.pdf">Résumé</HeaderLink>
		</div>
		</div>
	</nav>
</header>
